.Rproj.user
.Rhistory
.RData
.Ruserdata
HW1/city_limits.geojson
HW1/data/city.cpg
HW1/data/city.dbf
HW1/data/city.prj
HW1/data/city.shp
HW1/data/city.shx
HW1/data/happyhour.cpg
HW1/data/happyhour.dbf
HW1/data/happyhour.prj
HW1/data/happyhour.shp
HW1/data/happyhour.shx
HW1/data/offsite.cpg
HW1/data/offsite.dbf
HW1/data/offsite.prj
HW1/data/offsite.shp
HW1/data/offsite.shx
HW1/data/onsite.cpg
HW1/data/onsite.dbf
HW1/data/onsite.prj
HW1/data/onsite.shp
HW1/data/onsite.shx
HW1/HW1_dataclean.nb.html
HW1/HW1_dataclean.py
HW1/HW1_dataclean.Rmd
HW1/opa_properties_codes.xlsx
HW1/preclean/fine_spirits_good_food.html
HW1/preclean/fine_spirits_good_food2.html
HW1/preclean/happy_hour.html
HW1/preclean/happy_hour_full.html
HW1/preclean/happy_hour_full_sun.html
HW1/preclean/LicenseListWithSecondaries.csv
HW1/preclean/PHL_zip.csv
PIAZZA.url
Week_1/CPLN_675_Wk1_2022.pptx
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01.aux.xml
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01.ovr
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01.vat.KENNETHSTEIF-PC.58320.17416.sr.lock
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01/dblbnd.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01/hdr.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01/log
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01/metadata.xml
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01/prj.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01/sta.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01/vat.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01/w001001.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc01/w001001x.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11.aux.xml
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11.ovr
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11.vat.KENNETHSTEIF-PC.58320.17416.sr.lock
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11/dblbnd.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11/hdr.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11/log
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11/metadata.xml
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11/prj.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11/sta.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11/vat.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11/w001001.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc11/w001001x.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc92/dblbnd.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc92/hdr.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc92/log
Week_2/data/Arc_GIS_Data/Week2_data/data/cc92/metadata.xml
Week_2/data/Arc_GIS_Data/Week2_data/data/cc92/prj.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc92/sta.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc92/vat.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc92/w001001.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/cc92/w001001x.adf
Week_2/data/Arc_GIS_Data/Week2_data/data/chester_county_roads.CPG
Week_2/data/Arc_GIS_Data/Week2_data/data/chester_county_roads.dbf
Week_2/data/Arc_GIS_Data/Week2_data/data/chester_county_roads.prj
Week_2/data/Arc_GIS_Data/Week2_data/data/chester_county_roads.sbn
Week_2/data/Arc_GIS_Data/Week2_data/data/chester_county_roads.sbx
Week_2/data/Arc_GIS_Data/Week2_data/data/chester_county_roads.shp
Week_2/data/Arc_GIS_Data/Week2_data/data/chester_county_roads.shp.xml
Week_2/data/Arc_GIS_Data/Week2_data/data/chester_county_roads.shx
Week_2/data/Arc_GIS_Data/Week2_data/data/ChesterCounty_MuniBoundaries201107.dbf
Week_2/data/Arc_GIS_Data/Week2_data/data/ChesterCounty_MuniBoundaries201107.prj
Week_2/data/Arc_GIS_Data/Week2_data/data/ChesterCounty_MuniBoundaries201107.sbn
Week_2/data/Arc_GIS_Data/Week2_data/data/ChesterCounty_MuniBoundaries201107.sbx
Week_2/data/Arc_GIS_Data/Week2_data/data/ChesterCounty_MuniBoundaries201107.shp
Week_2/data/Arc_GIS_Data/Week2_data/data/ChesterCounty_MuniBoundaries201107.shp.xml
Week_2/data/Arc_GIS_Data/Week2_data/data/ChesterCounty_MuniBoundaries201107.shx
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc.dir
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0000.dat
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0000.nit
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0001.dat
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0001.nit
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0002.dat
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0002.nit
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0003.dat
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0003.nit
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0004.dat
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0004.nit
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0005.dat
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0005.nit
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0006.dat
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0006.nit
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0007.dat
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0007.nit
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0008.dat
Week_2/data/Arc_GIS_Data/Week2_data/data/info/arc0008.nit
Week_2/data/Arc_GIS_Data/Week2_data/data/landcvr2001.lyr
Week_2/data/Arc_GIS_Data/Week2_data/data/z_extra/2001.txt
Week_2/data/Arc_GIS_Data/Week2_data/data/z_extra/2011.txt
Week_2/data/Arc_GIS_Data/Week2_data/data/z_extra/chestcounty_fragswithroads_11_urban_toPoints_toTowns.CPG
Week_2/data/Arc_GIS_Data/Week2_data/data/z_extra/chestcounty_fragswithroads_11_urban_toPoints_toTowns.dbf
Week_2/data/Arc_GIS_Data/Week2_data/data/z_extra/chestcounty_fragswithroads_11_urban_toPoints_toTowns.prj
Week_2/data/Arc_GIS_Data/Week2_data/data/z_extra/chestcounty_fragswithroads_11_urban_toPoints_toTowns.shp
Week_2/data/Arc_GIS_Data/Week2_data/data/z_extra/chestcounty_fragswithroads_11_urban_toPoints_toTowns.shp.xml
Week_2/data/Arc_GIS_Data/Week2_data/data/z_extra/chestcounty_fragswithroads_11_urban_toPoints_toTowns.shx
Week_2/data/Arc_GIS_Data/Week2_data/data/z_extra/schema.ini
