.Rproj.user
.Rhistory
.RData
.Ruserdata
HW1/city_limits.geojson
HW1/data/city.cpg
HW1/data/city.dbf
HW1/data/city.prj
HW1/data/city.shp
HW1/data/city.shx
HW1/data/happyhour.cpg
HW1/data/happyhour.dbf
HW1/data/happyhour.prj
HW1/data/happyhour.shp
HW1/data/happyhour.shx
HW1/data/offsite.cpg
HW1/data/offsite.dbf
HW1/data/offsite.prj
HW1/data/offsite.shp
HW1/data/offsite.shx
HW1/data/onsite.cpg
HW1/data/onsite.dbf
HW1/data/onsite.prj
HW1/data/onsite.shp
HW1/data/onsite.shx
HW1/HW1_dataclean.nb.html
HW1/HW1_dataclean.py
HW1/HW1_dataclean.Rmd
HW1/opa_properties_codes.xlsx
HW1/preclean/fine_spirits_good_food.html
HW1/preclean/fine_spirits_good_food2.html
HW1/preclean/happy_hour.html
HW1/preclean/happy_hour_full.html
HW1/preclean/happy_hour_full_sun.html
HW1/preclean/LicenseListWithSecondaries.csv
HW1/preclean/PHL_zip.csv
PIAZZA.url
Week_1/CPLN_675_Wk1_2022.pptx
